html {
    box-sizing: border-box;
}

*, *::after, *::before {
    padding: 0;
    margin: 0;
}

:root {
    --primary-clr: hsl(236, 72%, 79%);
    --primary-clr-dark: hsl(237, 63%, 64%);
    --neutral-clr: hsl(233, 13%, 49%);
    --neutral-clr-dark: hsl(232, 13%, 33%);
    --neutral-clr-light: hsl(234, 14%, 74%);
    --neutral-clr-vlight: hsl(240, 78%, 98%);

    --fs-p: 15px;
    --ff: 'Montserrat', sans-serif;
    --fw-b: 700;

    --spacer: 1rem;
    --spacer-m: calc(var(--spacer) * 2);
    --spacer-lg: calc(var(--spacer) * 3);

    --br: 10px;
}

body {
    background-color: var(--neutral-clr-vlight);
    background-image: url(./images/bg-top.svg), url(./images/bg-bottom.svg);
    background-repeat: no-repeat, no-repeat;
    background-position: left 50vw top -5vh, right 50vw bottom -20vh;
    text-align: center;
    font-family: var(--ff);
    color: var(--neutral-clr);
    font-weight: var(--fw-b);
}

#wrapper {
    width: 90%;
    margin: 0 auto;
    padding: var(--spacer);
}

h1 {
    padding: var(--spacer-lg);
}

.plan {
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin: 0 auto var(--spacer-lg);
}

.plan p {
    color: var(--neutral-clr-light);
    transform: translate(0, 20%);
}

#toggle__switch {
    width: 50px;
    height: 32px;
    background: linear-gradient(to right, var(--primary-clr), var(--primary-clr-dark));
    border-radius: 100px;
    padding: 0 2px;
    position: relative;
}

#toggle__switch:hover {
    cursor: pointer;
    background: linear-gradient(to right, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
}

#toggle__slider {
    width: 24px;
    height: 24px;
    background: var(--neutral-clr-vlight);
    border-radius: 50%;
    position: absolute;
    top: 4px;
    bottom: 0;
}

#toggle__slider.active {
	right: 4px;
}

#toggle__slider:hover {
    cursor: pointer;
}

.card {
    width: 100%;
    background: #fff;
    border-radius: var(--br);
    margin-top: var(--spacer-m);
    padding-bottom: var(--spacer);
    height: 50vh;
}

.card__title {
    padding: var(--spacer-m);
    font-size: calc(var(--fs-p) * 1.2);
}

.card__plan {
    font-size: calc(var(--fs-p)* 4.7);
    font-weight: var(--fw-b);
    color: var(--neutral-clr-dark);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: var(--spacer);
}

.card__plan-currency {
    font-size: calc(var(--fs-p) * 2.5);
    padding-right: 5px;   
}

.card__plan-monthly {
    display: none;
}

.card__detail {
    list-style: none;
    font-size: var(--fs-p);
    font-weight: var(--fw-b);
    width: 80%;
    margin: 0 auto;
}
    
.card__detail li {
    border-bottom: 1px solid var(--neutral-clr-light);
    padding: var(--spacer);
}

.card__detail li:first-child {
    border-top: 1px solid var(--neutral-clr-light);
}

.card__link {
    width: 60vw;
    background: linear-gradient(to right, var(--primary-clr), var(--primary-clr-dark));
    padding: var(--spacer);
    font-size: calc(var(--fs-p)/1.3);
    letter-spacing: 0.2em;
    margin: var(--spacer-m) auto;
    border: none;
    border-radius: calc(var(--br)/2);
    text-transform: uppercase;
    color: var(--neutral-clr-vlight);
}

.card__link:hover {
    background: var(--neutral-clr-vlight);
    color: var(--primary-clr-dark);
    border: 1px solid var(--primary-clr-dark);
    cursor: pointer;
}

.card--important {
    background: linear-gradient(to right bottom, var(--primary-clr), var(--primary-clr-dark));
    color: var(--neutral-clr-vlight);
}

.card--important .card__link {
    background: var(--neutral-clr-vlight);
    color: var(--primary-clr-dark);
}

.card--important .card__plan {
    color: var(--neutral-clr-vlight);
}

.attribution { 
    font-size: 11px; 
    text-align: center;
    margin-top: 100px; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

@media (min-width: 700px) {
    body {
        background-position: left 75vw top -1vh, right 75vw top 68vh;
    }

    #wrapper {
        margin: 0 auto;
    }

    .plan {
        width: 35%;
    }

    #wrapper__card {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
        margin: 0 auto;
    }

    .card {
        width: 30vw;
    }

    .card:nth-child(1) {
        border-radius: calc(var(--spacer)/2) 0 0 calc(var(--spacer)/2);
    }

    .card:nth-child(3) {
        border-radius: 0 calc(var(--spacer)/2) calc(var(--spacer)/2) 0;
    }

    .card--important {
        padding-top: 20px;
        padding-bottom: 40px;
        margin-top: 10px;
    }

    .card__plan {
        font-size: calc(var(--fs-p)* 3.5);
    }

    .card__link {
        width: 20vw;
    }
}

@media (min-width: 1440px){
    #wrapper__card {
        width: 70vw;
    }

    .plan {
        width: 20%;
    }

    .card {
        width: 25vw;
        height: 45vh;
    }

    .card__plan {
        font-size: calc(var(--fs-p)* 4.7);
    }
}

